## Under field

In [2]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C2H5O4S-deleted.xyz-replaced-cleaned.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.96001  -0.53318   1.51348
1       O   0.54643   0.33702  -0.53652
2       O  -3.55077   2.07782  -0.62652
3       O  -4.51467   2.70082  -3.06652
4       O   2.50783  -4.58338   2.16348
...   ...       ...       ...       ...
9595    O  -8.63416 -11.80366  11.88721
9596    O -11.70523 -11.15796   8.09721
9597    O -10.68749 -10.85796   5.78721
9598    O  11.28424  13.96334  13.59721
9599    O   9.94954  11.95484  12.26721

[9600 rows x 4 columns]

In [3]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 39.59 degree!")

0.770652525488887
its  degree!

In [4]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C2H5O4S-deleted.xyz-replaced-cleaned-2.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.40733  -1.93626   0.09699
1       O   0.08297   0.79564   0.22699
2       O   1.39907  -2.91376   4.98699
3       O   1.40437  -4.35986   2.66699
4       O  -3.76263  -2.98066  -5.04301
...   ...       ...       ...       ...
9595    O  12.19548  10.38297  -7.67848
9596    O  14.16158   6.70707 -11.77848
9597    O  11.63858   6.50007 -11.75848
9598    O -13.03762  -8.75043 -10.31848
9599    O -11.81902  -9.03043 -12.60848

[9600 rows x 4 columns]

In [5]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.7674050101186605

In [6]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C2H5O4S-deleted.xyz-replaced-cleaned-3.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O   1.16752  -0.29331   1.36787
1       O  -0.68478  -0.00831  -0.46213
2       O   5.74562   0.83077  -0.72213
3       O   4.22062   0.98961  -2.81213
4       O   1.19582  -4.30231   6.16787
...   ...       ...       ...       ...
9595    O   5.86721  10.81244 -13.14907
9596    O  11.88701 -11.51866  -6.69907
9597    O  12.01761 -11.54386  -9.36907
9598    O  12.42801 -10.77356  12.14093
9599    O  12.52571 -12.70456  10.39093

[9600 rows x 4 columns]

In [7]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.7650624976213092

In [8]:
print((0.770652525488887+0.7674050101186605+0.7650624976213092)/3)

0.7677066777429523

## No field

In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C2H5O4S-deleted.xyz-replaced-cleaned-noE.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O   0.96200   0.63880  -1.35587
1       O  -0.51446  -0.42810   0.48643
2       O  -1.12495   3.59912  -2.59637
3       O   0.36344   5.70661  -1.78347
4       O   5.41464   1.67560  -5.53877
...   ...       ...       ...       ...
9595    O  11.12207   6.75753  -8.17511
9596    O   7.65247  11.70766 -10.70451
9597    O   9.81824  12.98746  -9.50801
9598    O  -7.84678  -9.00993   9.30699
9599    O  -9.42258 -10.36599  10.99869

[9600 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.49513091680096305

## Good! This is an obvious ordering!!! from 60.32 degree to 39.59 degree