## Under field

In [3]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       N  -0.53702  -0.43815  -0.03005
1       N   0.65738   1.36935   0.23995
2       N  -2.87522   0.87175  -3.31005
3       N  -4.47672  -0.67735  -3.21005
4       N  -4.32712  -1.92315   3.50995
...   ...       ...       ...       ...
9595    N  -1.39531  11.27875  12.47231
9596    N  11.49159   8.94878 -10.71769
9597    N  11.07559  10.13578  -8.95769
9598    N  11.29169  11.46788   8.17231
9599    N  12.15469  12.90048   9.53231

[9600 rows x 4 columns]

In [5]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 57.63 degree!")

0.535343104743049
its 57.63 degree!

In [6]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-2.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       N   0.43136   0.60980  -0.17465
1       N  -0.69674  -1.05990   0.71535
2       N   2.63619  -2.55240  -0.96465
3       N   2.14986  -2.32890  -3.07465
4       N  -5.23554   1.98290  -2.17465
...   ...       ...       ...       ...
9595    N  12.72224   6.95561  11.77132
9596    N   8.94934 -12.32839  -9.95868
9597    N   9.33294 -10.77739  -8.53868
9598    N -11.39466  12.40261 -10.62868
9599    N  -9.83706  10.99561 -10.52868

[9600 rows x 4 columns]

In [8]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 57.88 degree!")

0.5316858282323577
its 57.88 degree!

In [9]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-3.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       N   0.23009  -0.74826  -0.28091
1       N  -0.73851   1.14244  -0.32091
2       N  -0.02391   4.26914  -4.56091
3       N   0.79584   4.87864  -2.61091
4       N   1.95199   1.38894   6.71909
...   ...       ...       ...       ...
9595    N  -9.71382   8.89948  11.42892
9596    N  11.29808  10.31852  -8.64108
9597    N  10.74918  10.29040  -6.60108
9598    N -12.19625  -9.51952  10.82892
9599    N -11.47572  -7.56952  10.09892

[9600 rows x 4 columns]

In [11]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 57.47 degree!")

0.53778408824703
its 57.47 degree!

In [12]:
final = (0.535343104743049+0.5316858282323577+0.53778408824703)/3
print(final)

0.5349376737408122

## No field

In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-noE.csv')
data = pd.DataFrame(df)
data

     atom         x        y         z
0       N   0.59255  0.31595   0.14957
1       N  -1.38402 -0.14775  -0.70493
2       N  -4.44980  2.99325   0.45857
3       N  -6.17362  1.74875   0.14087
4       N   3.87665  5.09504   1.09087
...   ...       ...      ...       ...
9795    N   6.84247 -8.55109 -11.01471
9796    N  11.78275 -6.10043  12.06209
9797    N   9.80844 -5.64133  11.32679
9798    N -10.75485  8.37030  10.56319
9799    N -10.21575  7.57910  12.49839

[9800 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.559358194528782

## WHY????

## test4-N2N1-under field

In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-4.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       N  -0.35554   0.17997   0.58083
1       N   1.14746   0.02497  -1.08917
2       N   1.05796   1.46267  -5.22917
3       N  -0.63255   1.49097  -3.85917
4       N  -1.21344  -5.32503   2.19083
...   ...       ...       ...       ...
9595    N  11.51846  -9.87104   9.05320
9596    N  -8.58134 -10.80824  11.92320
9597    N  -8.08954  -9.19364  13.22320
9598    N -12.42310 -11.50134  -9.08680
9599    N -12.37979 -13.43534  -8.07680

[9600 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5355652899036761

## N2N1-no field

In [3]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-noE-3.csv')
data = pd.DataFrame(df)
data

     atom         x        y         z
0       N  -0.49847  0.11720  -0.50364
1       N   1.27263 -0.32329   0.63707
2       N   2.33813  1.81320  -4.19994
3       N   0.78573  2.53440  -5.49364
4       N  -1.39817 -3.11330   4.41819
...   ...       ...      ...       ...
9697    N  10.21993  3.88347  -9.43721
9698    N -10.75485  8.37030  10.56319
9699    N -10.21575  7.57910  12.49839
9700    N  11.78275 -6.10043  12.06209
9701    N   9.80844 -5.64133  11.32679

[9702 rows x 4 columns]

In [4]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5607170358210694

## why???