## under field E=0.2V/angstrom

In [23]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-4.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       N  -0.35554   0.17997   0.58083
1       N   1.14746   0.02497  -1.08917
2       N   1.05796   1.46267  -5.22917
3       N  -0.63255   1.49097  -3.85917
4       N  -1.21344  -5.32503   2.19083
...   ...       ...       ...       ...
9595    N  11.51846  -9.87104   9.05320
9596    N  -8.58134 -10.80824  11.92320
9597    N  -8.08954  -9.19364  13.22320
9598    N -12.42310 -11.50134  -9.08680
9599    N -12.37979 -13.43534  -8.07680

[9600 rows x 4 columns]

In [26]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (Z_ind/Distance)
deg = np.arccos(costheta)
deg2 = (deg/3.1415926535897932384626433)*180
print(deg2)
avg = sum(deg2)/len(deg2)
print(avg)

1       137.862050
3        50.982399
5        16.500674
7        87.163690
9        59.106307
           ...
9591     45.176992
9593     81.866514
9595     52.617342
9597     52.395973
9599     62.430812
Length: 4800, dtype: float64
76.4939327850128

## Without field

In [27]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-noE-3.csv')
data = pd.DataFrame(df)
data

     atom         x        y         z
0       N  -0.49847  0.11720  -0.50364
1       N   1.27263 -0.32329   0.63707
2       N   2.33813  1.81320  -4.19994
3       N   0.78573  2.53440  -5.49364
4       N  -1.39817 -3.11330   4.41819
...   ...       ...      ...       ...
9697    N  10.21993  3.88347  -9.43721
9698    N -10.75485  8.37030  10.56319
9699    N -10.21575  7.57910  12.49839
9700    N  11.78275 -6.10043  12.06209
9701    N   9.80844 -5.64133  11.32679

[9702 rows x 4 columns]

In [28]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (Z_ind/Distance)
deg = np.arccos(costheta)
deg2 = (deg/3.1415926535897932384626433)*180
print(deg2)
avg = sum(deg2)/len(deg2)
print(avg)

1        57.993477
3       127.081183
5       119.895243
7        55.679602
9        94.136541
           ...
9693     59.407615
9695      6.403684
9697     61.714207
9699     26.323090
9701    109.938509
Length: 4851, dtype: float64
97.90379614647455