## Under field

In [4]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C10H19N2-deleted-replaced-cleaned.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.33920   0.89780   1.53067
1       O  -0.13430   1.13980   2.81067
2       O  -6.17370  -2.17550  -0.24933
3       O  -5.25960  -2.55420   0.65067
4       O   4.32100  -5.30170   3.98067
...   ...       ...       ...       ...
7395    O   8.93151 -11.50767  13.41805
7396    O  12.33961 -10.59777  -2.94195
7397    O  11.96661  -9.43417  -2.49195
7398    O  -9.97209  -7.80647  11.69805
7399    O -10.78269  -6.99657  12.36805

[7400 rows x 4 columns]

In [6]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 56.67 degree!")

0.5494552904944612
its 56.67 degree!

## No field

In [1]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C10H19N2-deleted-replaced-cleaned-noE.csv')
data = pd.DataFrame(df)
data

     atom        x         y         z
0       O  1.90800  -0.70657  -1.22136
1       O  2.95230   0.00963  -0.74478
2       O  3.79530   0.03013   4.89931
3       O  3.80490   1.18763   4.23532
4       O -8.70056   1.56613  -0.48119
...   ...      ...       ...       ...
7395    O  6.59124  -3.00287  10.41623
7396    O  6.67754 -10.19101   4.89643
7397    O  7.51384 -10.15839   3.95113
7398    O  6.62644   7.52944   6.17653
7399    O  6.51534   8.85404   6.19253

[7400 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.4278574499998244

## why this one is good ......