## With 0.2 V/angstrom electric field

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-4.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.52983   1.43973  -0.67795
1       O  -1.00561   2.24283   0.23205
2       O   4.10554  -6.11207   3.44205
3       O   3.19884  -6.98977   3.82205
4       O   0.66914  -6.55409  -6.07795
...   ...       ...       ...       ...
8595    O  10.57297 -14.07266  -5.62783
8596    O -11.02211  -9.74856  11.12217
8597    O -11.78559 -10.12746  10.20217
8598    O   8.05677  10.54754 -11.19783
8599    O   8.23747  11.05984  -9.96783

[8600 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (Z_ind/Distance)
deg = np.arccos(costheta)
deg2 = (deg/3.1415926535897932384626433)*180
print(deg2)
avg = sum(deg2)/len(deg2)
print(avg)

1        45.728924
3        73.241558
5        21.012669
7        90.000000
9        21.420060
           ...
8591     98.897058
8593     13.205639
8595     86.021948
8597    137.186560
8599     23.828847
Length: 4300, dtype: float64
67.36980374303012

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-noE-2.csv')
data = pd.DataFrame(df)
data

     atom        x         y        z
0       O -0.07011   1.73706  0.38507
1       O  1.16489   1.87982  0.84787
2       O -3.82731  -2.52056  5.17907
3       O -4.44044  -2.26806  6.29157
4       O -1.63302  -8.86866  3.29737
...   ...      ...       ...      ...
8595    O -8.81132   8.66698 -3.86065
8596    O -2.16705 -10.71422  6.56378
8597    O -2.23645  -9.39842  6.42972
8598    O  2.46475 -10.43826  7.58181
8599    O  3.29375 -11.33243  8.18079

[8600 rows x 4 columns]

In [4]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (Z_ind/Distance)
deg = np.arccos(costheta)
deg2 = (deg/3.1415926535897932384626433)*180
print(deg2)
avg = sum(deg2)/len(deg2)
print(avg)

1        69.581815
3        30.796356
5        45.899744
7        73.463621
9       114.224167
           ...
8591    135.682456
8593    125.651814
8595     25.138972
8597     95.809474
8599     63.838139
Length: 4300, dtype: float64
85.21646851090763