## Under field

In [5]:
import numpy as np
import pandas as pd 
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O   0.92598  -0.10353   1.40217
1       O   0.90554  -1.36293   1.71217
2       O  -0.37006   3.85787   2.99217
3       O   0.02094   3.02387   3.98217
4       O  -5.56336   0.15397   1.36217
...   ...       ...       ...       ...
8595    O -14.52807  -8.58655  -7.05113
8596    O   9.93848  12.57150   8.92887
8597    O  10.56739  12.42150   7.76887
8598    O  12.80873  -6.88770  12.11887
8599    O  13.88573  -6.65810  12.81887

[8600 rows x 4 columns]

In [7]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)
print("its 57.83 degree!")

0.53246443904561
its 57.83 degree!

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-2.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.52642  -1.28246   0.40386
1       O   0.31648  -2.17546   0.93386
2       O  -2.95012   1.90854   2.71386
3       O  -2.51912   3.14854   2.90386
4       O   1.42358  -0.80286  -3.97614
...   ...       ...       ...       ...
8595    O   8.49636  11.90393  -7.74353
8596    O  12.03166 -10.18757  -8.54353
8597    O  13.22416  -9.53777  -8.67353
8598    O -11.42574  -8.22647  10.95647
8599    O -11.67374  -9.40827  11.46647

[8600 rows x 4 columns]

In [3]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5335399220535278

In [5]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-3.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.94133  -0.56394   1.30932
1       O  -2.05403  -0.40434   0.56932
2       O  -0.88163   5.36456  -0.59068
3       O  -0.80333   4.58864   0.47932
4       O   6.04367  -0.86304   5.35932
...   ...       ...       ...       ...
8595    O   8.83249   6.63428  10.18816
8596    O  12.36059   7.97588   7.43816
8597    O  13.11639   8.06488   8.55816
8598    O -12.02971  12.90548 -11.15184
8599    O -13.06071  12.20138 -10.63184

[8600 rows x 4 columns]

In [6]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5371209243318201

In [7]:
print((0.53246443904561+0.5335399220535278+0.5371209243318201)/3)

0.5343750951436527

## No field

In [8]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-noE.csv')
data = pd.DataFrame(df)
data

     atom         x        y         z
0       O  -0.07287  0.86152  -1.27845
1       O   0.42846  1.87552  -0.69608
2       O  -3.65368  0.16522   4.74252
3       O  -3.87568 -0.83938   3.87782
4       O   4.69422  1.88192  -5.65430
...   ...       ...      ...       ...
8595    O  13.57922  8.64905  -3.08029
8596    O  -2.95876 -5.79412  12.42279
8597    O  -3.27632 -5.44862  11.20679
8598    O   8.60192 -7.24190   7.56909
8599    O   9.18142 -6.31046   8.33779

[8600 rows x 4 columns]

In [9]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5532188099132569

## Again, not good

## If only anions matter, how to explain the OCP difference between BMIM-PF6 and HMIM-PF6?

## Use the dipole moment of isolated species is not enough? Treat 1 ion pair together?

## how about using C6-N1 atom pair? Under field

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-4.csv')
data = pd.DataFrame(df)
data

     atom         x         y         z
0       O  -0.52983   1.43973  -0.67795
1       O  -1.00561   2.24283   0.23205
2       O   4.10554  -6.11207   3.44205
3       O   3.19884  -6.98977   3.82205
4       O   0.66914  -6.55409  -6.07795
...   ...       ...       ...       ...
8595    O  10.57297 -14.07266  -5.62783
8596    O -11.02211  -9.74856  11.12217
8597    O -11.78559 -10.12746  10.20217
8598    O   8.05677  10.54754 -11.19783
8599    O   8.23747  11.05984  -9.96783

[8600 rows x 4 columns]

In [2]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5236929656973981

## C6-N1, NO field

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('cluster_C8H15N2-deleted-replaced-cleaned-noE-2.csv')
data = pd.DataFrame(df)
data

     atom        x         y        z
0       O -0.07011   1.73706  0.38507
1       O  1.16489   1.87982  0.84787
2       O -3.82731  -2.52056  5.17907
3       O -4.44044  -2.26806  6.29157
4       O -1.63302  -8.86866  3.29737
...   ...      ...       ...      ...
8595    O -8.81132   8.66698 -3.86065
8596    O -2.16705 -10.71422  6.56378
8597    O -2.23645  -9.39842  6.42972
8598    O  2.46475 -10.43826  7.58181
8599    O  3.29375 -11.33243  8.18079

[8600 rows x 4 columns]

In [4]:
X_ind = (data.x - data.x.shift())[1::2]
Y_ind = (data.y - data.y.shift())[1::2]
Z_ind = (data.z - data.z.shift())[1::2]
Distance = (X_ind*X_ind + Y_ind*Y_ind + Z_ind*Z_ind)**(1/2)
costheta = (abs(Z_ind)/Distance)
#print(costheta)
avg = sum(costheta)/len(costheta)
print(avg)

0.5632618305014048

## why???